.form-title-login{
  font-size: 30px;
  font-weight: 600;
  margin-right: 300px;
  color: var(--text);
}
.login-form {
  width: 360px;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.button-login{
  margin-top: 15px;
  margin-left: 150px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; 
  -webkit-text-fill-color: #000 !important; 
  transition: background-color 5000s ease-in-out 0s; 
}

@media (max-width: 754px) {
  .button-login {
    margin-right: 200px;
  }
}