:root {
  --nav-bg: #6653AC;
  --main-bg: #ffffff;
  --soft-bg: #F2EAF7;
  --soft-color: #ffffff;
  --topbar-h: 80px; 
  --button-bg: #49368F;
 --cards-bg: #1a1331;
  --border: #eadff7;
  --text: #1f1b2d;
  --muted: #746b84;

  --track: #ffffff;

  --purple: #6f56c5;    
   --purple-1: #9885d6;    
  --purple-2: #a48bff; 
  --empty-req:#f6f1ff;  

  --danger: #ea5a55;
  --header-bg:#F1DAFF;

  --mark-done-bg: #ebe6ff;
  --mark-done-color: #4b3e88;
  --connection:#e9e6ef;
  --grey:#DDDDDD;
   --greyy:#f8f8f8de;
}

body.dark {
  
  --main-bg: #0f0e14;        
  --nav-bg:  #151228;        
  --soft-bg: #18162a;       
  --soft-color: #1e1b34;  

 
  --text:  #efeaf6;        
  --muted: #b5adc9;       

  --border:    #2e2944;     
  --connection:#2a2741;     
  --grey:      #3a3846;    
  --greyy:     #242230;    
  --track:     #131120;    

 
  --purple:   #7f6aff;      
  --purple-1: #a495ff;       
  --purple-2: #c9c0ff;     

  --pink:     #ff75c3;       
  --pink-1:   #ff98d1;       
  --pink-2:   #ffc0e2;


  --button-bg:     #5f49e8;  
  --button-hover:  #5640d9;
  --button-pressed:#4a36c4;


  --danger:   #ff6a81;     
  --header-bg:#191636;     
  --empty-req:#1b1833;      


  --mark-done-bg:    #182524;
  --mark-done-color: #aaf2cd;


}


body {
  background-color: var(--main-bg);
  color: var(--text);
}
