.section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 2%;
  padding-left: 200px;
  flex-wrap: wrap;
}

.text-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
}

.text-fullwidth p.description{
  max-width: 80%;
  margin-top: 0.5rem;
}

.title{
  font-size: 38px;
  font-weight: 800;
  line-height: 1.2;
  color: var(--main-color);
  margin-bottom: 0.5rem;
}

.description{
  font-size: 20px;
  line-height: 1.6;
  color: var(--main-color);
}

.image-container{
  flex: 1;
  display: flex;
  align-items: center;
}

.image-right-gap img{
  width: 470px;
}

.image-left-big img{
  width: 470px;
  height: auto;
  object-fit: contain;
}

.section-text-left .text-container{
  order: 0;
}

.section-text-left .image-container{
  order: 1;
}

.section-text-right .text-container{
  order: 1;
  margin-left: -430px;
}

.section-text-right .image-container{
  order: 0;
}

@media (max-width: 1621px){
  .section-text-right .text-container{
    order: 1;
    margin-left: 90px;
  }
}

@media (max-width: 1497px){
  .section{
    padding-left: 90px;
  }
}

@media (max-width: 1195px){
  .title{
    font-size: 36px;
  }
  .description{
    font-size: 18px;
  }
  .image-right-gap img{
    max-width: 350px;
  }
  .image-left-big img{
    max-width: 350px;
  }
}

@media (max-width: 945px){
  .title{
    font-size: 25px;
  }
  .description{
    font-size: 16px;
  }
  .image-right-gap img{
    width: 290px;
  }
  .image-left-big img{
    width: 290px;
  }
  .text-fullwidth p.description{
    max-width: 80%;
    margin-top: 0.5rem;
  }
}

@media (max-width: 830px){
  .section{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 3rem 5%;
  }
  .text-container{
    order: 0 !important;
    text-align: center;
  }
  .image-container{
    order: 1 !important;
  }
  .title{
    font-size: 28px;
  }
  .description{
    font-size: 16px;
  }
}

@media (max-width: 717px){
  .description{
    font-size: 14px;
  }
}

@media (max-width: 665px){
  .title{
    font-size: 20px;
  }
}
